<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 footer-title">
				<h3><a href="/">xDD</a></h3>
			</div>
			<div class="col-sm-4 footer-links">
				<p><a href="{{site.baseurl}}about.html">About</a></p>
				<p><a href="{{site.baseurl}}index.html#contact">Contact</a></p>
				<p><a href="{{site.baseurl}}index.html#the-team">Team</a></p>
			</div>
			<div class="col-sm-4 footer-funding">
				<a href="http://www.nsf.gov/"><img src="assets/images/logos/nsf.jpg"></a>
				<a href="http://www.morgridge.org/"><img src="assets/images/logos/morgridge.png"></a>
				<a href="http://chtc.cs.wisc.edu/"><img src="assets/images/logos/chtc.jpg" class="chtc"></a>
				<a href="http://geoscience.wisc.edu/geoscience/"><img src="assets/images/logos/geobucky.jpg"></a>
				<p>Funded by NSF ICER 1343760</p>
			</div>
		</div>
	</div>
</div>