<div class="section data">
	<div class="half-section sqldump"></div>
	<div class="half-section">
		<div class="copy-container tdm">
			<div>
				<h1>Enabling TDM</h1>
				<p class="info">In collaboration with our UW Library staff team members, xDD negotiates agreements with publishers that allow programatic downloading and mining of published content.</p>

				<p class="info">All documents are securely stored on an access-controlled server at the heart of our digital library infrastructure (xDD team members and our collaborators do not have access to original content via our infrastructure). UW-Madison's <a href="http://chtc.cs.wisc.edu">Center for High Throughput Computing</a> supplies the computational power for processing documents using NLP, OCR, and other software tools useful for TDM tasks, which also allows for deploying new tools quickly against all existing documents.</p>

				<p class="info">Our <a href="https://github.com/UW-Deepdive-Infrastructure/app-template">app-template</a> allows collaborators to quickly bootstrap TDM applications that use the NLP and OCR ouput and easily identify potentially relevant documents. Development is done with samples of documents, but applications operating on the full document set can be run on the xDD infrastructure.</p>
			</div>
		</div>
	</div>
</div>