<div class="section apps">
	<div class="copy-container">
		<div>
			<h1>End-user Workflow</h1>
			<div class="app-step">
				<h3><i class="ion-ios-lightbulb-outline"></i>Have an idea</h3>
				<p>A question that can be answered by mining the scientific literature. 1.5 million documents from 8 publishers are currently available.</p>
			</div>
			<div class="app-step">
				<h3><i class="ion-fork-repo"></i> Fork the application template</h3>
				<p>Find the application template <a href="https://github.com/UW-DeepDive-Infrastructure/app-template">on Github</a></p>
			</div>
			<div class="app-step">
				<h3><i class="ion-ios-plus-outline"></i>Update config file</h3>
				<p>Use words of interest to identify relevant documents. A subset of the literature that contains these words is then generated for testing purposes.</p>
			</div>
			<div class="app-step">
				<h3><i class="ion-code-working"></i>Write an application</h3>
				<p>Identify an output schema that can be used to answer the original question, and write an application to parse the input into the desired structure. Python, Postgres, R, and associated modules are currently supported.</p>
			</div>
			<div class="app-step">
				<h3><i class="ion-ios-cloud-upload-outline"></i>Run on full dataset</h3>
				<p>Commit your application to a xDD infrastructure repository on Github to run your application on our infrastructure and generate results.</p>
			</div>
			<div class="app-step">
				<h3><i class="ion-arrow-graph-up-right"></i>Analyze results</h3>
				<p>Download and analyze results, identify strengths and weaknesses. We will provide bibliographical information about all relevant documents.</p>
			</div>
			<div class="app-step">
				<h3><i class="ion-ios-loop-strong"></i>Iterate</h3>
				<p>Troubleshoot application, resubmit, generate new results. We will continue to grow the dataset as more matching documents are fetched.</p>
			</div>
		</div>
	</div>
</div>